* {
  margin: 0;
  padding: 0;
}

body {
font-family: Rubik, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 150%;
background: #FBF8EC;
color: #414141;
}

/* .articals {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
} */

.container {
max-width: 1208px;
margin: 0 auto;
padding: 20px;
}

.articals__title {
  margin-top: 181px;
  margin-bottom: 40px;
}
.articals__wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
  gap: 40px;
}

.artical {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFF;
}

img {
  display: block;
}

.artical__info {
 padding: 10px;
}

time {
font-size: 12px;
color: #8F8F8F;
margin-bottom: 10px;
}

.artical__title {
font-size: 18px;
font-weight: 700;
margin-bottom: 10px;
}

.artical__text {
   max-height: 96px;
}

.artical__button {
  display: block;
  width: 134px;
  height: 24px;
  color:#70C05B;
  background-color: #E5FFDE;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  margin: auto 0 10px 10px;
}

.artical__button:hover {
 background-color: #70C05B;
 color: white;
}

.artical__button:active {
box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.20) inset;
}
